<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello</title>
    <meta charset="utf-8" />
    <!--  jquery導入 -->
    <script type='text/javascript' src='webjars/jquery/3.5.1/dist/jquery.min.js'></script>
    <!-- boostrap導入 -->
    <link rel='stylesheet' href='webjars/bootstrap/4.4.1/css/bootstrap.min.css'>
    <!-- 固有CSS -->
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <form method="post" action="#" th:action="@{./login}" th:object="${form}" onsubmit="checkAuth()">
      <div class="container">
        <h1>Springboot Login</h1>
        <p class="text-primary fade">aaaa</p>
        <div>
          <span th:text="${message}"></span>
        </div>
		<!-- ID・passwordフォーム ログインボタン作成 -->
	        User ID: <input type="text" name="uid" size="40" maxlength="32" placeholder="aaa or bbb"/><br><br>
	        PassWord: <input type="password" name="pwd" size="40" maxlength="32" placeholder="aa or bb"/><br><br>
	        <input type="submit"  name="auth" value="Login"><br><br>
      </div>
    </form>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
  </body>
</html>
