<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello</title>
    <meta charset="utf-8" />
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css"/>
  </head>
  <body>
  	<form method="post" action="#" th:action="@{./login}" th:object="${form}" onsubmit="checkAuth()">
  		<div class="fade">
		    <h1>Springboot Login</h1>
		    <div>
		      <span th:text="${message}"></span>
		    </div>
	        <input type="submit" name="user" value="一般ユーザー"/>
	   		<input type="submit" name="admin" value="管理者" />
   		</div>
    </form>
  <script type="text/javascript" th:src="@{/js/index.js}"></script>
  </body>
</html>
