<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/layout :: base_header('Main',~{::link})"></head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <body>
    <div class="component">
      <div th:replace="common/layout :: header"></div>
       <form method="post" action="#" th:action="@{./loginUser}" th:object="${form}">
         <input name="name" type="text" /><br/>
         <div><a>aaaa</a></div>
         <div><a>aaaa</a></div>
<!-- <span th:text="${session}"></span>-->
         <input type="submit" name="back" value="戻る" />
       </form>
      <div th:replace="common/layout :: footer"></div>
    </div>
  </body>
</html>
